<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         beStrictAboutTestsThatDoNotTestAnything="true">

    <testsuites>

        <testsuite name="Simple S3 ClientTest Suite">
            <directory>tests/RunnableTests</directory>
        </testsuite>

    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>

</phpunit>